// Mixins
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
// Colors
@main-color: #007BC9;
@second-color: #00a8ee;
@bg-color: #eee;
@black: #151515;
// Ajax home
.cat-num {
    display: none !important;
}
// Loader
#jprePercentage {
    background: @main-color !important;
}
// swiper
.swiper-slide {
    background-color: white;
}
// Widgets
.widget {
    clear: both;
	margin: 0;
}
// Slick adition styles
.slick-dots li.slick-active button:before {
    color: @main-color !important;
    font-size: 20px !important;
}
.slick-dots li button:before {
	font-size: 10px !important;
	color: @main-color !important;
}
// Carousel related post
.related-posts {
	padding: 20px;
	text-align: left;
	.line-blue {
	    width: 100%;
	    height: 2px;
	    background-color: @main-color;
	}
	h4.title {
	    font-size: 20px;
	    text-align: left;
	    padding: 10px 0;
		display: inline-block;
		position: relative;
		top: -23px;
		background-color: white;
		padding-right: 10px;
	}
}
.carousel-wrapper {
    margin-bottom: 50px !important;
	.carousel-item {
		width: auto;
	    padding: 2.5px;
		box-sizing: content-box;
		a {
			img {
				width: 100%;
				height: auto;
			}
		}
		h4 {
			width: auto;
			min-height: 60px;
			padding: 5px;
			background-color: #313131;
			color: white;
			font-size: 14px;
		}
	}
}
#main {
	.content {
		width: 100%;
	    background-color: white;
	    padding-top: 80px;
	}
	background-color: white;
	// Main header
	.blog-bav {
		.box-shadow(0px 5px 10px rgba(107, 107, 107, 0.3));
		.swiper-container-menu {
			a {
				color: @main-color;
			}
		}
	}
	#SW_master {
		h2 {
			font-size: 25px;
    		font-weight: bold;
		}
		// content
		.first-post {
		    padding: 0 !important;
			background-color: #fff;
			.post-title {
				bottom: 0;
				width: 100% !important;
				.the-title {
					margin-top: 0;
					font-size: 20px;
					a {
						color: white !important;
						text-shadow: 1px 1px 1px black !important;
						font-size: 18px !important;
					}
				}
				.author-post {
					display: block !important;
					color: white;
					text-shadow: 1px 1px 1px black;
					font-size: 14px;
    				text-transform: uppercase;
				}
				padding: 20px !important;
				position: absolute !important;
				text-align: left !important;
			}
			.post-media {
				width: 100% !important;
			}
		}
		.post {
	        padding: 10px;
		    border-bottom: 1px solid #dcdcdc;
			span.edit-link a {
			    font-size: 15px;
			    font-weight: normal;
			    font-style: italic;
			}
			.post-media {
				width: 50%;
			    float: left;
			    height: auto;
				.shortcuts-icons { 
					width: auto;
				    height: auto;
				    position: absolute;
				    z-index: 99;
					right: -15px;
					top: -30px;
					.home {
						width: 40px;
					}
				}
			}
			.post-title {
				padding: 10px;
				box-sizing: border-box;
				text-align: left;
				width: 50%;
				height: auto;
				margin: auto;
				.the-title {
					margin-top: 0;
					a {
						color: @black;
					    font-size: 16px;
					}
				}
			}
			.post-sharing {
			    width: 20px;
			    /* float: right; */
			    position: absolute;
			    bottom: 10px;
			    right: 10px;
			}
			.post-meta {
				ul {
					li {
						h6 {
							color: @main-color !important;
						}
						a {
							color: @main-color !important;
						}
					}
				}
			}
			.post-body a {
		    	/* float: left; */
		    	margin-top: 0;
			}
		}
		.pagination-holder {
    		margin: 0;
    		ul {
    			li {
				    margin-bottom: 5px;
				    a {
				    	background-color: @main-color;
				    }
				    .current, .dots {
			    	    color: white;
    					font-weight: bold;
    					background-color: @second-color;
				    }
    			}
    		}
		}
	}
	#SW_single {
		// content
		z-index: 99;
	    top: -16px; 
	    .read_more {
			    font-size: 30px;
			    background-color: #007BC9;
			    padding: 15px;
			    margin: 20px 0;
			    display: inline-block;
			    color: white;
			}
		.post {
			padding: 0;
			margin: 0;
			span.edit-link a {
			    font-size: 15px;
			    font-weight: normal;
			    font-style: italic;
			}
			.post-media {
				.shortcuts-icons {
					width: auto;
				    height: auto;
				    position: absolute;
				    z-index: 99;
					right: 10px;
    				top: 10px;
					.home, .share {
						width: 40px;
    					margin-bottom: 5px; 
					}
				}
			}
			.post-meta {
				padding: 0 20px;
				ul {
					li {
						h6 {
							color: @main-color !important;
						}
						span {
							color: #ffffff !important;
							display: inline-block;
							background-color: @black;
							padding: 5px;
                            margin: 5px;
						}
					}
				}
			}
			.post-title {
				h3 {
					padding: 0 20px;
					a {
						font-size: 25px;
					    font-weight: normal;
					}
				}
				p.date-author {
				    padding: 10px 0;
				    margin: 10px 20px 30px;
				    font-size: 16px;
				    border-bottom: 1px solid #d0d0d0;
				}
			}
			.post-body {
			    padding: 0 20px;
				a {
					margin-top: 0;
				}
			}
			.tags {
                margin: 0 20px;
                span {
                    color: #ffffff !important;
                    display: inline-block;
                    background-color: #151515;
                    padding: 5px;
                    margin-bottom: 5px;
                }
            }
			.share-options {
			    padding: 0 20px;
			}
		}
	}
}

// Main footer
.main-footer {
	padding: 10px;
	margin: 0;
	width: 100%;
	position: fixed !important;
	left: 0;
	bottom: 0;
	background: white;
	color: @main-color;
	font-weight: bold;
	.widget {
		padding: 0;
	}
	.box-shadow(0px -5px 10px rgba(107, 107, 107, 0.3));
	p {
		padding: 5px;
	}
}
// Social Lopez
.social-lopez {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    .box-shadow(0 -1px 0 500px rgba(0,0,0,0.5));
    .shared-counts {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        .number {
            float: left;
            font-size: 16px;
            font-weight: bold;
        }
        .close {
            float: right;
            font-size: 20px;
        }
    }
    .summary-post {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        .featured-image {
            float: left;
            margin-bottom: 10px;
            max-width: 150px;
            height: auto;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
        .title {
            float: left;
            padding-left: 20px;
            text-align: left;
            max-width: 50%;
            span {
                color: @main-color;
                font-size: 14px;
                margin-bottom: 10px;
                display: inline-block;
                font-weight: bold;
                text-transform: uppercase;
            }
            h3 {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .social-button {
        >div {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .left {
                float: left;
            }
            .right {
                float: right;
            }
        }
        .facebook {
            .btn-lopez, .logo {
                background-color: #3b5998;
            }
            .number-facebook {
                display: inline-block;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        .twitter {
            .btn-lopez, .logo {
                background-color: #00aced;
            }
            .number-twitter {
                display: inline-block;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        .google {
            .btn-lopez, .logo {
                background-color: #F44336;
            }
            .number-google {
                display: inline-block;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        .whatsapp {
            .btn-lopez, .logo {
                background-color: #25d366;
            }
            .number-whatsapp {
                display: inline-block;
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }
    .logo {
        background-color: white;
        display: inline-block;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding-top: 8px;
        color: white;
    }
    .button.btn-lopez {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
    }
}
// Ads
.single-id {
	display: none;
}

.single-page {
	.widget {
	    margin: 0;
	}
}
